.dropdown {
  position: relative;

  .dropdown-menu {
    z-index: 9;
    margin: 0;
    top: 100%;
    left: 0;
    display: none;
    
    position: absolute;
    padding: 4px 2px;
    min-width: 100px;
    list-style: none;
    background-color: #FFF;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    
    &.dropdown-menu-right {
      left: auto;
      right: 0;
    }
    
    a {
      display: block;
      width: 100%;
      padding: 3px 20px 3px 15px;
      white-space: nowrap;
      font-weight: normal;
      line-height: 18px;
      color: #333333;
      cursor: pointer;
      text-align: left;
      
      &:hover {
        background-color: #F5F5F5;
      }
    }
  }
  
  &.open > .dropdown-menu {
    display: block;
  }
}
