body.is-editing {

  .reply-view button,
  header {
    @include btn-disabled;
  }
  
  .reply {
    opacity: .5;
    
    &.is-editing {
      opacity: 1;
    }
  }
  
  #empty-message {
    display: none;
  }
}