header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  
  & > *, #filter {
    margin-left: 10px;
    margin-right: 10px;
  }
}

body.is-editing .create-form-toggle {
  visibility: hidden;
}

#filter {
  width: auto;
  flex-grow: 1;
  margin-bottom: 0;
}
