header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  
  & > *, #filter {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#filter {
  width: auto;
  flex-grow: 1;
  margin-bottom: 0;
  height: 36px;
  padding: 3px 8px;

  font-size: 20px;
  line-height: 27px;
}
