.reply-container {
  border-top: 1px dotted lightgray;
  display: block;
  cursor: auto;
  
  &:first-child {
    border-top: none;
  }
  
  .reply-form {
    display: none;
  }
  
  &.is-editing {
    .reply {
      display: none;
    }
    
    .reply-form {
      display: block;
    }
  }
}

.reply {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.reply-message {
  white-space: pre-line;
  margin-bottom: 10px;
}

.reply-send {
  display: none;

  body.ticket & {
    display: inline-block;
  }
}