.reply-container {
  box-shadow: 0px 1px 3px #e6e6e6;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 20px;
  
  .reply-form {
    display: none;
  }
  
  &.is-editing {
    .reply {
      display: none;
    }
    
    .reply-form {
      display: block;
    }
  }
}

.reply {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.reply-message {
  white-space: pre-line;
  margin-bottom: 10px;
}

.reply-send {
  display: none;
  
  body.ticket & {
    display: inline-block;
  }
}