.reply {
  @include card;
  
  .reply-form {
    display: none;
  }
  
  &.is-editing {
    .reply-view {
      display: none;
    }
    
    .reply-form {
      display: block;
    }
  }
}

.reply-message {
  white-space: pre-wrap;
  
  .highlight {
    background: #ceebff;
    margin: 0 -2px;
    padding: 0 2px;
    border-radius: 2px;
  }
}

.reply-body {
  padding: 16px;
}


.reply-controls {
  background: #F2F2F2;
  padding: 0 16px;
  overflow: hidden;
  $interior-radius: ($card-radius - 1px);
  border-radius: 0 0 $interior-radius $interior-radius;
  transition: .25s height;
  height: 0px;
  
  button {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}


body:not(.is-editing) .reply:hover .reply-controls,
.reply.is-editing .reply-controls {
  height: 40px;
}

body.full .reply-view .reply-send {
  visibility: hidden;
}